@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 67px;
    background: #E5E5E5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box .num {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #4E5150;


}

.box .text {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    /* Gray 4 */
    color: #BDBDBD;


}

.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic .dp {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.profile-pic .name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #4E5150;
    margin: 1rem auto 1rem;
}

.profile-pic .location {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin: 0;


}